 /*响应式*/
@media only screen and (max-width: 1920px) {
    /*发帖的图片*/
    .forum_body-right .post_msg img{width:55%;}
}

@media only screen and (max-width: 1440px) {
    .document-width{width:90%;}
    /*发帖的图片*/
    .forum_body-right .post_msg img{width:75%;}

    /*热门评论*/
    .zj_1{width:250px;}
}

@media only screen and (max-width: 1280px) {
    /*热门评论*/
    .zj_1{width:200px;}
}

@media only screen and (max-width: 1150px) {
    /*发帖的图片*/
    .forum_body-right .sign_in i{width:40%;}
    .forum_body-right .post_msg img{width:80%;}

    /*评论信息的宽度*/
    .forum_body-comment>ul.comment>li div.comment_info{width:80%;}
}

@media only screen and (max-width: 1120px) {

    /*签到*/
    .forum_body-right .sign_in i{width:100%;padding:0 10% 0 0;}
    .forum_body-right .sign_in i img{width:30px;}
    .forum_body-right .sign_in p{display:none;}
    /*发帖*/
    .forum_body-right .post_msg img{width:100%;}

    /*导航条*/
    ul.pc_menu li{padding:0 6px;}
    ul.pc_menu li p{font-size:16px;}
}


@media only screen and (max-width: 1000px) {
    .document-width{width:100%;}

    /*楼主信息*/
    .forum_body-left ul.forum_title>li .user_info{width:80%;}

    /*发帖框*/
    .editor_msg{width:80%;}

    /*用户信息下拉列表*/
    .login_down{left:-100%;}
    /*轮播图*/
    .index_top{height:400px;}

    /*基本资料*/
    .home_bottom .home_bottom-user_info{width:60%;}


}

@media only screen and (max-width: 900px) {
    .search{width:18%;}
    .top_big2 div.search_div .search_list{width:203px;}
    /*游戏*/

}

@media only screen and (max-width: 850px){
    .top_big2 .search_div{display:none;}
    /*轮播图*/
    .index_top{height:380px;}
    .document-width{width:90%;}
    /*logo*/
    .imgd{width: 120px; margin-top:23px}
    /*导航条*/
    ul.pc_menu li{padding:0 12px;}

    /*基本资料*/
    .home_bottom .home_bottom-user_info{width:80%;}

}

@media only screen and (max-width: 800px) {
    /*游戏*/
    .home_middle .home_middle-nav{width:100%;}
}
@media only screen and (max-width: 750px) {

    /*签到*/
    .forum_body-right .sign_in p{display:none;}
    .forum_body-right .sign_in i{width:100%;padding:0 10% 0 0; margin:0 auto;}
    .forum_body-right .sign_in i img{width:20%;}
    .forum_body-right .sign_in i span{display:inline-block;}
    /*发帖的图片*/
    .forum_body-right .post_msg img{width:100%;}

    /*导航条*/
    .top_big2 .pc_menu{display:none;}
    .top_big2 .menu{display:block;right:160px;}

    /*轮播图*/
    .index_top{height:280px;}


    /*所有游戏*/
    .game_list ul.game_title>li .game_info{width:60%;}

    /*用户头像*/
    .home_middle .home_middle-user_info{top:-45px;}
    .home_middle .home_middle-user_info .top_img{width:80px;height:80px;}

}

@media only screen and (max-width: 720px) {
    /*发帖框*/
    .editor_msg{width:90%;}

    /*home页面关注页的关注按钮*/
    .home_bottom .follow_list>li>ul>li:nth-child(3) li{width:70px;}

}

@media only screen and (max-width: 700px) {
    .forum_body-left{width:100%;}
    .forum_body-right,.forum_body-info{float:left;width:100%;}
    /*发帖的图片*/
    .forum_body-right .sign_in p{display:inline-block;}
    .forum_body-right .sign_in i{width:30%;height:100%;padding:1% 0; margin:0 10px; font-size:20px;float:left;}
    .forum_body-right .sign_in i img{width:20px;float:left;}
    .forum_body-right .sign_in i span{display:inline-block;}
    .forum_body-right .post_msg img{width:100%;}
    /*互相挤到下面*/
    .forum_body-right .post_msg{float:left;width:47%;vertical-align: middle;}
    .forum_body-right .sign_in{float:left;width:47%; margin:16px 1% 16px 0}
    /*发帖框*/
    .editor_msg{width:100%;height:100%;}
    .w-e-menu{display:inline-block;}
    .w-e-toolbar{display:block;}

    /*轮播图*/
    .index_top{height:280px;}
    .lunBo .bbs_info{display:none;}
    .lunBo .lunBo_img{width:84%;}
}

@media only screen and (max-width: 680px) {}

@media only screen and (max-width: 650px) {
    /*基本资料*/
    .home_bottom .home_bottom-user_info{width:90%;}
    /*留言板*/
    ul.message{width:100%;}
    div.post_msg input.con_message{width:70%;}
    div.post_msg input.msg_but{width:20%;}
}

@media only screen and (max-width: 620px) {}

@media only screen and (max-width: 600px) {
    /*添加游戏*/
    .game{width:100%;}
}

@media only screen and (max-width: 550px) {
    /*权限*/
    .root{width:100%;}

    /*用户编辑资料和修改头像*/
    .edit_info,.alter_top_img{width:100%;}
    .alter_top_img img{width:60px;height:60px;margin:10px;}
}

@media only screen and (max-width: 500px) {
    /*发帖*/
    .forum_body-right .post_msg{;width:100%}
    .forum_body-right .post_msg img{width:50%;}
    /*签到*/
    .forum_body-right .sign_in{width:100%}
    /*点赞*/
    .forum_body-detail .end_opp ul{width:100%;}
    /*小评论*/
    .forum_body-comment ul.comment>li div.comment_info div.small_comment>ul{width:90%;}

    /*留言板*/
    ul.message li .msg_info{width:70%;}

    /*轮播图*/
    .index_top{height:220px;}
}

@media only screen and (max-width: 480px) {
    /*登录框*/
    .login{width:100%;}

    .home_bottom .content ul.follow_already{width:90%;}
}

@media only screen and (max-width: 440px) {
    /*添加游戏*/
    .game input{width:100%;}
    .game textarea{width:100%;}

    /*首页的帖子导航*/
    #postamount li{padding: 0 20px;}

    /*热门评论*/
    .zj_1{clear:both;width:100%;}
    .zj_1 li{margin:0 auto;width:90%;}
}

@media only screen and (max-width: 410px) {
    /*发帖的图片*/
    .forum_body-right .post_msg img{width:90%;}
    .forum_body-comment ul.comment>li div.comment_info div.small_comment>ul{width:100%;}

    /*注册框*/
    .registration{width:100%;}
    .registration #inputs_2 input.form_phone{width:60%;}

    /*留言板*/
    .home_top .home_top-ul{position:absolute;top:10px;right:0;left:0;color:#999;}
    .home_top{height:150px;}
    /*轮播图*/
    .index_top{height:200px;}
    /*所有游戏*/
    .game_list ul.game_title>li .game_info{width:60%;}
    .game_list ul.game_title>li .game_info h3{height:20px;}

    /*编辑资料的输入框*/
    #edit_inputs input, #password_inputs input,#edit_inputs textarea{
      width:190px;
    }
}
@media only screen and (max-width:350px){
    /*帖子信息*/
    .forum_body-left ul.forum_title>li .user_info{width:100%;}
    /*评论信息的宽度*/
    .forum_body-comment>ul.comment>li div.comment_info{width:100%;}
    /*登录框*/
    .login #inputs{width:100%;padding:0;}
    .login #inputs #username,.login #inputs #password{width:100%;}
    /*轮播图*/
    .index_top{height:180px;}


    /*首页的帖子导航*/
    #postamount li{padding: 0 10px;}

    .document-width{width:100%;}
    .top_big2 .menu{right:120px;}

    /*所有游戏*/
    .game_list ul.game_title>li .game_info{width:100%;}

    /*轮播图*/
    .index_top{height:180px;}

    /*home中部的信息*/
    .home_middle .home_middle-user_info{padding:0;width:100%;}
    .home_middle .home_middle-user_info ul.lv{margin:0 auto;width:180px;}
    .home_middle .home_middle-user_info ul.edit{margin:0 auto;width:270px;}
    .home_middle .home_middle-user_info ul.edit li:first-child,.home_middle .home_middle-user_info ul.edit li{margin:5px;}


}
